
# All build directories
build/

# Model results
surf-abm/results/out/*
surf-abm/results/surf_results_files
surf-abm/results/surf_results.html

# Logs
surfabm.log*

# Some data that can't be made publicly available
surf-abm/data/otley

