# Ignore all the resources, these need should be downloaded separately (instructions in surf-mason/README)

/resources/

# Ignore some of the MASON stuff
/mason/contrib/

# Log files
SimBurglarMason/simburglarlog*

# Built files
SimBurglarMason/build/
geomason-1.5/build/
