<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {806, 536}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2016-07-17 22:14:55 +0000</string>
	<key>Creator</key>
	<string>Nick Malleson</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{547.5697021484375, 396.57276118733006}, {168.14926147460938, 72.585811963304792}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.999991</string>
					<key>g</key>
					<string>0.999974</string>
					<key>r</key>
					<string>1</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>33843</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.95</string>
						<key>b</key>
						<string>0.999991</string>
						<key>g</key>
						<string>0.999974</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0.85</string>
						<key>b</key>
						<string>0.999971</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.987946</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf810
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs26 \cf0 Models are calibrated, based on streaming data from sensors, in 
\i real time}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{540.33059299484671, 18}, {168.14928573604209, 72.585811963304792}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.999991</string>
					<key>g</key>
					<string>0.999974</string>
					<key>r</key>
					<string>1</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>33842</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.95</string>
						<key>b</key>
						<string>0.999991</string>
						<key>g</key>
						<string>0.999974</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0.85</string>
						<key>b</key>
						<string>0.999971</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.987946</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf810
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs26 \cf0 Agent-based models simulate the current state of an urban system}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{91.999999999999986, 14.734468148137214}, {168.14928573604209, 72.5858154296875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.999991</string>
					<key>g</key>
					<string>0.999974</string>
					<key>r</key>
					<string>1</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.95</string>
						<key>b</key>
						<string>0.999991</string>
						<key>g</key>
						<string>0.999974</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0.85</string>
						<key>b</key>
						<string>0.999971</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.987946</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf810
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs26 \cf0 Data are generated by citizens and sensors as they undertake normal activities}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{441.71353567174691, 154.58357973262522}, {97.141181945800781, 72.585810373585261}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33841</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Rotation</key>
			<real>240</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.50000000000000089, -0.49999999999999956}</string>
					<string>{-0.49999900517498208, -0.50000489080087762}</string>
					<string>{-0.41990464818512585, -0.23804772686485354}</string>
					<string>{-0.25091770174999528, -0.069804861406340013}</string>
					<string>{-0.081631611432088746, 0.09821048399536636}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.50440319284261559, 0.090956448134523527}</string>
					<string>{0.50440319284261559, 0.09096231709557312}</string>
					<string>{0.50439622906749459, 0.090956448134523527}</string>
					<string>{0.17535188555498049, 0.51856797225686924}</string>
					<string>{0.1754563421818256, 0.51858264465950121}</string>
					<string>{0.1754563421818256, 0.51858264465950121}</string>
					<string>{0.20717633786716227, 0.28912680887184594}</string>
					<string>{0.20717633786716227, 0.28912680887184594}</string>
					<string>{0.20716638961698308, 0.28913267783289776}</string>
					<string>{-0.10585331251246455, 0.32856622714440142}</string>
					<string>{-0.29762075702500201, 0.10772993882246462}</string>
					<string>{-0.48964387156705325, -0.11292930250772359}</string>
					<string>{-0.49999900517498208, -0.50001173792210496}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.85</string>
						<key>b</key>
						<string>0.982485</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.94985</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{346.49767466914261, 187.25024639929191}, {97.141181945800781, 72.585810373585346}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33840</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Rotation</key>
			<real>120</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.50000000000000089, -0.49999999999999956}</string>
					<string>{-0.49999900517498208, -0.50000489080087762}</string>
					<string>{-0.41990464818512585, -0.23804772686485354}</string>
					<string>{-0.25091770174999528, -0.069804861406340013}</string>
					<string>{-0.081631611432088746, 0.09821048399536636}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.50440319284261559, 0.090956448134523527}</string>
					<string>{0.50440319284261559, 0.09096231709557312}</string>
					<string>{0.50439622906749459, 0.090956448134523527}</string>
					<string>{0.17535188555498049, 0.51856797225686924}</string>
					<string>{0.1754563421818256, 0.51858264465950121}</string>
					<string>{0.1754563421818256, 0.51858264465950121}</string>
					<string>{0.20717633786716227, 0.28912680887184594}</string>
					<string>{0.20717633786716227, 0.28912680887184594}</string>
					<string>{0.20716638961698308, 0.28913267783289776}</string>
					<string>{-0.10585331251246455, 0.32856622714440142}</string>
					<string>{-0.29762075702500201, 0.10772993882246462}</string>
					<string>{-0.48964387156705325, -0.11292930250772359}</string>
					<string>{-0.49999900517498208, -0.50001173792210496}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.85</string>
						<key>b</key>
						<string>0.982485</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.94985</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{421.23491995596117, 251.08631388346359}, {97.141183746652132, 72.585811963304792}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33839</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.50000000000000089, -0.49999999999999956}</string>
					<string>{-0.49999900517498208, -0.50000489080087762}</string>
					<string>{-0.41990464818512585, -0.23804772686485354}</string>
					<string>{-0.25091770174999528, -0.069804861406340013}</string>
					<string>{-0.081631611432088746, 0.09821048399536636}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.19285483691416783, 0.029564670125313164}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.13635375004108941, -0.21051643056774028}</string>
					<string>{0.50440319284261559, 0.090956448134523527}</string>
					<string>{0.50440319284261559, 0.09096231709557312}</string>
					<string>{0.50439622906749459, 0.090956448134523527}</string>
					<string>{0.17535188555498049, 0.51856797225686924}</string>
					<string>{0.1754563421818256, 0.51858264465950121}</string>
					<string>{0.1754563421818256, 0.51858264465950121}</string>
					<string>{0.20717633786716227, 0.28912680887184594}</string>
					<string>{0.20717633786716227, 0.28912680887184594}</string>
					<string>{0.20716638961698308, 0.28913267783289776}</string>
					<string>{-0.10585331251246455, 0.32856622714440142}</string>
					<string>{-0.29762075702500201, 0.10772993882246462}</string>
					<string>{-0.48964387156705325, -0.11292930250772359}</string>
					<string>{-0.49999900517498208, -0.50001173792210496}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.85</string>
						<key>b</key>
						<string>0.982485</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.94985</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{546, 50.000000000000085}, {168.1492614746094, 168.14925373134321}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>212</integer>
					<key>ImageID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.955088</string>
								<key>g</key>
								<string>0.955088</string>
								<key>r</key>
								<string>0.955088</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{546, 81.28358208955234}, {168.1492614746094, 168.14925373134321}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>213</integer>
					<key>ImageID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.955088</string>
								<key>g</key>
								<string>0.955088</string>
								<key>r</key>
								<string>0.955088</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{546, 112.56716417910448}, {168.1492614746094, 168.14925373134321}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>214</integer>
					<key>ImageID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.955088</string>
								<key>g</key>
								<string>0.955088</string>
								<key>r</key>
								<string>0.955088</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{546, 143.85074626865676}, {168.1492614746094, 168.14925373134321}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>215</integer>
					<key>ImageID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.955088</string>
								<key>g</key>
								<string>0.955088</string>
								<key>r</key>
								<string>0.955088</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>211</integer>
			<key>Layer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{279.65283203125, 358}, {267.91688537597656, 149.73132460988751}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>188</integer>
			<key>ImageID</key>
			<integer>18</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{152.86940543935404, 202.60503934383351}, {8.1179251237885062, 5.4119497404345065}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>HFlip</key>
									<string>YES</string>
									<key>ID</key>
									<integer>192</integer>
									<key>Shape</key>
									<string>Speech Bubble</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>TextRelativeArea</key>
									<string>{{0.14999999999999999, 0.14999999999999999}, {0.69999999999999996, 0.69999999999999996}}</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{152.8694072729896, 98.410689972008356}, {15.973981695196734, 10.649320456984025}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>193</integer>
									<key>Shape</key>
									<string>Speech Bubble</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>TextRelativeArea</key>
									<string>{{0.14999999999999999, 0.14999999999999999}, {0.69999999999999996, 0.69999999999999996}}</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{87.992254295409509, 119.48710845096424}, {8.1179251237885062, 5.4119497404345065}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>HFlip</key>
									<string>YES</string>
									<key>ID</key>
									<integer>194</integer>
									<key>Shape</key>
									<string>Speech Bubble</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>TextRelativeArea</key>
									<string>{{0.14999999999999999, 0.14999999999999999}, {0.69999999999999996, 0.69999999999999996}}</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{94.891094683921992, 177.76772198202855}, {15.973981695196734, 10.649320456984025}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>195</integer>
									<key>Shape</key>
									<string>Speech Bubble</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>TextRelativeArea</key>
									<string>{{0.14999999999999999, 0.14999999999999999}, {0.69999999999999996, 0.69999999999999996}}</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{156.37456542904781, 153.21384256191982}, {15.973981695196734, 10.649320456984025}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>196</integer>
									<key>Shape</key>
									<string>Speech Bubble</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>TextRelativeArea</key>
									<string>{{0.14999999999999999, 0.14999999999999999}, {0.69999999999999996, 0.69999999999999996}}</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{92.609657427865386, 124.89906065205167}, {12.83155906663344, 21.473220039995006}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>197</integer>
									<key>ImageID</key>
									<integer>4</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{136.89542526632459, 105.83423906278988}, {15.973981695196734, 20.687614428775692}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>198</integer>
									<key>ImageID</key>
									<integer>7</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{104.20489649574455, 146.37228193045246}, {17.2833244570981, 20.949482965848798}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>199</integer>
									<key>ImageID</key>
									<integer>6</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{158.07670963171168, 208.01699565262996}, {6.2848452571265829, 20.163877354629481}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>200</integer>
									<key>ImageID</key>
									<integer>3</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{85.453074944186, 219.53130047715322}, {7.5941880190279551, 21.211351502921918}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>201</integer>
									<key>ImageID</key>
									<integer>5</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{92.609659823875916, 188.41704509520122}, {7.8560565714082342, 20.425745891702586}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>202</integer>
									<key>ImageID</key>
									<integer>2</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{156.37456612662163, 164.85182432736988}, {9.6891364380701486, 21.99695711414126}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>203</integer>
									<key>ImageID</key>
									<integer>1</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{113.37029554646014, 97.513964509907353}, {8.1179251237885062, 20.163877354629481}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>204</integer>
									<key>ImageID</key>
									<integer>8</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{53.333334111549249, 93.333333333333329}, {119.01520509137974, 156.00000000000009}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>205</integer>
									<key>ImageID</key>
									<integer>9</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0.75</string>
												<key>b</key>
												<string>0.969507</string>
												<key>g</key>
												<string>0.969507</string>
												<key>r</key>
												<string>0.969507</string>
											</dict>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>191</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{53.333334111549391, 93.333337605793872}, {262.67358320615898, 155.99998474121094}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>206</integer>
							<key>ImageID</key>
							<integer>12</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.75</string>
										<key>b</key>
										<string>0.969507</string>
										<key>g</key>
										<string>0.969507</string>
										<key>r</key>
										<string>0.969507</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>190</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{53.333333333333371, 249.33333333333343}, {262.67358320615921, 112}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>207</integer>
					<key>ImageID</key>
					<integer>13</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.969507</string>
								<key>g</key>
								<string>0.969507</string>
								<key>r</key>
								<string>0.969507</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>189</integer>
			<key>Layer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{-1.3333062120661907, -2.666695912679188}, {806, 538.66668701171875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>33844</integer>
			<key>ImageID</key>
			<integer>19</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>20</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image19.png</string>
		<string>image18.tiff</string>
		<string>image15.pdf</string>
		<string>image13.jpg</string>
		<string>image12.jpg</string>
		<string>image9.pdf</string>
		<string>image8.tiff</string>
		<string>image7.tiff</string>
		<string>image6.tiff</string>
		<string>image5.tiff</string>
		<string>image4.tiff</string>
		<string>image3.tiff</string>
		<string>image2.tiff</string>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>city</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-02-21 20:14:28 +0000</string>
	<key>Modifier</key>
	<string>Nick Malleson</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{171, 57}, {1439, 970}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-33, -9}, {869.33333333333337, 552}}</string>
		<key>Zoom</key>
		<real>1.5</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.5</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
